img {
  width: 50px;
}
#face {
  width: 400px;
}

/* ROBOTFACE 1 */
.robotface1 .face {
  position: relative;
}

.features #mouth2 {
  position: absolute;
  top: 300px;
  left: 88px;
  width: 200px;
}

.features #eyes1 {
  position: absolute;
  top: 150px;
  left: 120px;
  width: 150px;
}

.features #nose1 {
  position: absolute;
  top: 200px;
  left: 160px;
  width: 75px;
}

.features #ears1 {
  position: absolute;
  top: 10px;
  width: 400px;
}

.features #hat {
  position: absolute;
  top: 35px;
  left: 150px;
  width: 100px;
}

/* ROBOTFACE 2 */

#face2 {
  width: 400px;
}
.robotface2 .face2 {
  position: relative;
}

.features2 #mouth1 {
  position: absolute;
  bottom: 70px;
  left: 95px;
  width: 200px;
}

.features2 #eyes2 {
  position: absolute;
  bottom: 200px;
  left: 100px;
  width: 200px;
}

.features2 #nose2 {
  position: absolute;
  bottom: 150px;
  left: 160px;
  width: 80px;
}

.features2 #ears2 {
  position: absolute;
  bottom: 175px;
  width: 400px;
}

.features2 #hair2 {
  position: absolute;
  bottom: 170px;
  left: 50px;
  width: 300px;
}
